/**********************
COLORS
Pink - #ED6C79
Blue - #4AC8C7
Yellow - #E3E14E
Dark grey - #4a4a4a
Light Grey - #9b9b9b

FONTS
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;
************************/

*{
    box-sizing:border-box;
}
html{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    color: #4a4a4a;
    margin: 0 auto;
    }

h1, h2, h3{
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
}
.mobileHeader{
    display: none;
}

/***********************
NAVIGATION
************************/
.mainNav{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    position: sticky;
    top: 0;
    z-index:200;
}
.mainNav h2, .mainNav a{
    color: white;
}
.logoAndName{
    display: flex;
}
.mainNav h2{
	font-size:1em;
	letter-spacing: .3rem;
	text-transform: uppercase;
}
.logoAndName img{
    padding:12px;
	align-self:center;
	max-width: 70px;
}
.siteName{
    align-self:center;
}
ul.nav{
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 40%;
}
.nav a{
    font-size: .8em;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.nav a:hover{
    color:#4a4a4a;
}
nav .current{
	border-top: 2px solid white;
}

/****************************
HEADER
******************************/
.mainHeader{
    display:grid;
    grid-template-columns: 1fr 1fr;
	box-shadow: 0 4px 2px -2px #ddd;
}
.headerImage img{
    width: 100%;
}
.smBG{
    display:none;
}
.headerText{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-height: 80%;
    margin-right: -60px;
    z-index: 100;
}

.headerText h1, .headerText h2, .headerText h3{
    margin:0;
}
.headerText h3{
    font-size: 1.3em;
}
.headerText h2{
    font-size: 1.7em;
}
.headerText h1{
    font-size: 2em;
}

.design{
    color:#ED6C79;
    grid-row: 2;
    grid-column: 1/7;
    font-size:2.2em;
	padding-left: 60px;
	align-self:end;
}
.social{
    color:#4a4a4a;
    grid-row: 3;
    grid-column: 4/6;
}
.seo{
  color:#4AC8C7;
    grid-row: 4;
    grid-column: 3/4;
}
.cards{
    grid-row:5;
    grid-column:3/6;
    padding-left:20px;
}
.copy{
    color:#E3E14E;
    grid-row: 5;
    grid-column: 4/7;
    text-align:right;
    font-size:2.4em;
}
.keyword{
    color:#E3E14E;
    grid-row:6;
    grid-column: 2/5;
}
.email{
    color:#9b9b9b;
    grid-row: 6;
    grid-column: 5/7;
}
.code{
    color:#ED6C79;
    grid-row: 7;
    grid-column: 4/5;
	text-align: right;
}
.logos{
    grid-row: 8;
    grid-column: 6;
    text-align:left;
}
.adwords{
    grid-row:8;
    grid-column: 3/5;
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
}
.content{
    color:#4AC8C7;
    grid-row: 9;
    grid-column: 3/5;
    font-size: 1.5em;
    text-align:center;
}
.marketing{
    color:#9b9b9b;
    grid-row: 10;
    grid-column: 5/7;
}
.ppc{
    color:#E3E14E;
    grid-row: 11;
    grid-column: 4/7;
}
.branding{
    color:#ED6C79;
    grid-row: 12;
    grid-column: 2/6;
    text-align: center;
}
.contentCreation{
   color:#4AC8C7;
    grid-row: 13;
    grid-column: 5/7;
}
.tagline{
    grid-row: 15;
    grid-column: 1/7;
    color: black;
    font-size:1.3em;
    display: flex;
    padding-left: 14px;
}

.pink, .blue, .yellow, .grey{
    display:none;
}


/****************************
Main Content 
******************************/
.mainContent{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto 2px;
}
.mainContent h2{
    text-align: center;
	font-size: 1.3em;
}
.content1, .content2, .content3{
    max-width: 100%;
    box-shadow: 0 0 10px #ddd;
    border: 1px solid white;
    padding: 14px;
    flex: 1 25%;
    margin: 0 20px 20px;
    transition: all ease .5s;
}
.contentWrapper{
	box-shadow: 0 4px 2px -2px #ddd;
}

.keywords{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	background-color: white;
	padding: 0 2%;
	
}
.keywords p{
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-size: .8em;
	padding: 6px 0;
}

/****************************
FOOTER
******************************/
footer{
    background-color:black;
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.footerIcons{
    align-self: center;
	padding-top: 20px;
}
.footerIcons img{
    align-self:center;
    margin: 10px 30px;
}
.copyright{
	text-align:right;
}
.copyright p{
	font-size: .7em;
	color: white;
	padding: 0 6px;
}
/****************************
CONTACT PAGE
****************************/

.contactContent{
	border-radius: 10px;
	display: flex;
	padding: 3rem;
	width: 60%;
	margin: 3rem auto;
	box-shadow: 0 0 10px #ddd;
}
.contactCard{
	background-color: black;
	border-radius: 10px;
	padding: 3rem;
    color: white;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	
}

.contact1{
	align-self: center;
}
.contact2{
	align-self:center;
}

.contactHeader{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
}
.contactHeader img{
	align-self: center;
}
.contactHeader h2, .contactHeader p{
	text-align: center;
}

.contact{
	display: flex; 
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
}

.contact img{
	max-width: 40px;
	margin-right: 10px;
	align-self: center;
}
a[href^="tel"]{
    color:inherit !important;
    text-decoration:none !important;
}

/****************************
PREVIOUS WORK PAGE
******************************/
.mobile{
	display: none;
}
.darkSection{
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	background-color: #fafafa;
	border-bottom: 1px solid #dddddd;
}
.lightSection{
	box-shadow: inset 0 30px 30px -30px rgba(0, 0, 0, 0.05);
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dddddd;
}
.cafe {
	max-width: 80%;
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
	margin: 0 auto;
}
.cafe img{
	align-self:center;
	padding-top: 6%;
	padding-bottom: 6%;
}
.cafeText h3{
	text-align: center;
}
.cafeText{
	flex: 1 30%;
	margin: 30px;
}
.desktop{
	max-width: 50%;
}
.tablet{
	max-width:23%;
}
.phoneSize{
	max-width:14.5%;
}
.aboutSites{
	display: flex;
	width: 80%;
	margin: 0 auto;
}
.aboutText{
	width: 30%;
	align-self:center;
}
.aboutProject, .mainHeading{
	max-width:50%;
	margin: 0 auto;
	text-align:center;
}
.mainHeading h2{
	color: black;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-weight: 800;
	font-size: 1.8em;
}
button{
	width: 200px;
	border-radius: 8px;
	padding: 6px;
	margin-bottom: 10px;
	background-color: black;
	color: white;
	border:1px solid black;
	transition: all .4s;
}
button:hover{
	opacity: .7;
	box-shadow: 0 5px 1px -1px #9b9b9b;
}
button:focus {
	outline:0;
}
.startHidden{
	display: none;
}
#button1{
	background-color: #acdd30;
	border: 1px solid #acdd30;
}
#button2{
	background-color: #505f63;
	border: 1px solid #505f63;
}
#button3{
	background-color: #282522;
	border: 1px solid #282522;
}
#button4{
	background-color: #c5006c;
	border: 1px solid #c5006c;
}
#button5{
	background-color: #43edd8;
	border: 1px solid #43edd8;
}
#button6{
	background-color: #342c2d;
	border: 1px solid #342c2d;
}

#button7{
	background-image: linear-gradient(#280f36, #632b63, #c86b98,
    #f09f9c, #ffc1a0);
    border: 1px #280f36 solid;
	margin-bottom: 40px;
}


/***** sticky footer ******/
.html, .body{
	height: 100%;
}
.body{
	display: flex;
	flex-direction:column;
}
.subContainer, .contactContent{
	flex: 1 0 auto;
}
footer{
	flex-shrink: 0;
}

/**********************
MEDIA QUERIES
************************/

@media (max-width: 1024px){
    .headerText h3{
    font-size: 1em;
    }
    .headerText h2{
    font-size: 1.2em;
    }
    .headerText h1{
    font-size: 1.5em;
    }
    .design{
        grid-row: 1;
        grid-column: 1/5;
}
    .social{
        grid-row: 2;
        grid-column: 5/7;
        color: #9b9b9b;
    }
    .seo{
        grid-row: 3;
        grid-column: 4;
    }
    .cards{
        grid-row:4;
        grid-column:1/4;
    }
    .copy{
        grid-row: 4;
        grid-column: 4/7;
        text-align:right;
    }
    .keyword{
        grid-row:5;
        grid-column: 2/6;
    }
    .email{
        grid-row: 6;
        text-align:center;
    }
    .code{
        grid-row: 6;
        grid-column: 3/6;
		text-align: left;
    }
    .logos{
        grid-row: 7;
        grid-column: 5;
        text-align:right;
    }
    .adwords{
        grid-row:7;
        grid-column: 3/6;
        margin: 0;
    }
    .content{
        grid-row: 8;
        grid-column: 2/7;
    }
    .marketing{
        grid-row: 9;
        grid-column: 5/7;
    }
    .ppc{
        grid-row: 10;
        grid-column: 2/7;
    }
    .branding{
        color:#ED6C79;
        grid-row: 11;
        grid-column: 2/7;
        
    }
    .contentCreation{
       color:#4AC8C7;
        grid-row: 12;
        grid-column: 1/7;
        padding-left: 20px;
    }
    .tagline{
        grid-row: 14;
        font-size:1.2em;
    }
    .mainContent{
        width: 90%;
        
    }
    .content3{
        flex: 1 100%;
    }
	.cafe{
		grid-template-columns: 1fr 1fr 1fr;
	}

}

@media (max-width: 900px){
    ul.nav{
        width: 50%;
    }
	 .mainContent{
        flex-direction: column;
        justify-content: center;
    }
	.contactContent{
		width: 80%;
	}
    
}

@media (max-width: 825px){
	 .headerText h3{
    font-size: .8em;
    }
    .headerText h2{
    font-size: 1em;
    }
    .headerText h1{
    font-size: 1.2em;
    }
    .smIcon{
        max-width:73px;
    }
    .medIcon{
        max-width:88px;
    }
    .lgIcon{
        max-width:103px;
    }
    .cafe{
		flex-direction:column;
	}
	.full{
		display: none;
	}
	.mobile{
		display: block;
	}
	.desktop, .tablet, .phoneSize{
		max-width: 90%;
	}
	.aboutSites{
		flex-direction:column;
	}
	.aboutText{
		width: 90%;
	}
	.cafe img{
		padding: 2% 0 2%;
	}
	.cafeText{
		margin: 10px;
	}
	.keywords{
		width: 100%;
	}
	.keywords p{
		padding: 0;
	}
	.copyright{
		text-align:center;
	}
}

@media (max-width: 700px){
	h2{
		font-size: 1.2em;
	}
	p{
		font-size: .8em;
	}
    .mainHeader{
        display: none;
    }
    .mobileHeader{
        display: flex;
		justify-content: space-between;
        width: 100%;
		box-shadow: 0 4px 2px -2px #ddd;
		padding-left: 10px;
    }
    .mobileHeader img{
        max-width: 70%;
        align-self:center;
    }
	.mobileHeaderContent{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.mainContent{
		width:100%;
	}
	.aboutProject, .mainHeading{
		max-width: 90%;
	}
	.keywords{
		display: none;
	}
	
}
@media (max-width: 600px){
	.wrapper{
		display:none
	}
    ul.nav{
		display:flex;
        width:96%;
        padding:0;
        margin: auto;
		justify-content: space-between;
    }
	.mainNav{
		height: 120px;
	}
    .logoAndName{
        justify-content:center;
        width:100%;
    }
    .logoAndName img{
        padding:6px;
        align-self:center;
        max-width: 50px;
    }
    .smIcon{
        max-width:53px;
    }
    .medIcon{
        max-width:68px;
    }
    .lgIcon{
        max-width:83px;
    }
    .content1, .content2, .content3{
        margin-top: 0;
    }
	.contactContent{
		margin: 1rem auto;
		width: 90%;
		padding: 1rem;
	}

	.contactCard{
		flex-direction:column;
		padding: 1.5rem;
	}
	.contactHeader{
		width: 100%;
	}
	.contact1 h2{
		font-size: 1em
	}
	.contact1 p{
		font-size: .7em;
	}
	
}

@media (max-width: 400px){
    .siteName{
        font-size: 1.2em;
    }
   
}

@media (max-width: 340px){
	.mobileServices p{
		margin: 4px auto;
	}
}

@media (max-height: 900px){
	.html, .body{
		height: auto;
	}
}












